<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Age Ranger test</title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-mocks.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.17.1.css">
    <script type="text/javascript" src="../../Scripts/App/AgeRangerApp.js"></script>
    <script type="text/javascript" src="../../Scripts/App/AgeRangerControllers.js"></script>
    <script type="text/javascript" src="../../Scripts/App/AgeRangerRepositories.js"></script>
    <script type="text/javascript" src="../../Scripts/App/AgeRangerServices.js"></script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="http://code.jquery.com/qunit/qunit-1.17.1.js"></script>
    <script src="../../Scripts/sinon-1.9.1.js"></script>

    <script src="../../Scripts/tests/AgeRangerControllersTests.js"></script>
    <script src="../../Scripts/tests/AgeRangerServicesTests.js"></script>
    <script src="../../Scripts/tests/AgeRangerRepositoriesTests.js"></script>
</body>
</html>